.header1 {
    background-color: #333;
    overflow: hidder;
    font-size: larger;
    text-align: initial;
}

/*style the links inside the navigation bar */

ul.nav{
    margin:0;
    padding:0;
}

ul.nav li{
    list-style:none;
    display: inline; /*deixa o display horizontal*/
}

ul.nav li a{

    float: left;
    border: 1px; solid #f00;
    width:6.0em;
    font: 0.68em; verdana, Arial, Helvetica, sans-serif;
    background-color: ##;
    color:#333;
    text-aling:center;
    padding:0  0.2em 0.2em  0;
    text-decoration:none;

s
}